
body {
    background-color: whitesmoke;
 }
 
 
 h1 {
    color: #000080;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 3;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.7);
    border-bottom: 3px solid #282425;
 }
 
 
 h2 {
    color: #003457;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    line-height: 18px;
 }
 
 
 p {
    color: #003457;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    line-height: 25px;
    border-bottom: 1px dotted #282425;
 }
  